/*
 * App Color variables CSS
*/

// Text colors
$text-color-white: rgb(255 255 255 / 100%);
$text-color-grey: rgb(201 201 201 / 100%);
$text-color-dark-grey: rgb(94 94 94 / 100%);
$text-color-dark: rgb(67 89 105 / 100%);
$recent-grants-text: rgb(119 119 119 / 100%);
$text-color-black: rgb(51 51 51 / 100%);
$text-color-blue-hover: rgb(61 112 149 / 100%);

// Background colors
$sections-background-color-main: rgb(240 237 231 / 100%);
$sections-background-color-white: rgb(255 255 255 / 100%);
$sections-background-color-dark: rgb(67 89 105 / 82%);
$sections-background-color-copyright: rgb(52 71 85 / 100%);
$sections-background-color-ocher: rgb(249 176 78 / 100%);
$mobile-sections-close-bgc-light: rgb(151 166 176 / 100%);
$complete-grant-bg: rgb(228 237 242 / 100%);
$transparent-bg: rgb(228 237 242 / 0%);

// Buttons colors
$btn-background-color-orange: rgb(94% 35% 18% / 100%);
$btn-complete-grant: rgb(61 112 149 / 100%);

// Borders colors
$border-top-blue: rgb(61 112 149 / 100%);
$border-bottom-ocher: rgb(187 187 187 / 100%);
$border-bottom-tomato: rgb(180 54 25 / 100%);
$recent-grants-border: rgb(187 187 187 / 100%);
$border-top-orange: rgb(244 133 63 / 100%);
